body {
background-color: #eee;
}

button{
	background-color: #0de01f;
    border: none;	
}

.big-green{
	padding: 60px;
	margin: 140px auto;
	display: block;
	outline: none;
    border-radius: 8px;
    font-size: 2em;
}

.error {
	position: fixed;
	bottom: 0px;
	width: 100%;
	color: #000;
	text-align: center;
}
.error-message {
	margin: auto;
	position: initial;
	background-color: #F00;
	display: table;
	padding: 3px 8px;
	margin-bottom: 1px;
}

.error-message b{
	padding-right: 20px;
}
.hide{
	display: none;
}

h3{
	text-align: center;
}
.container {
	margin: 50px; 
	text-align:center;
}

.container img{
	margin: 10px;
	border: 1px solid #000;
}

.right{
	float: right;

}

.left{
	float: left;

}
.selected{
	border:5px solid #FF0000;
	border-radius: 5px;
}